*{
    margin: 0;
    padding: 0;
}

header{
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


.navbar-brand{
    font-family: 'Lobster', cursive;
}

.navbar-nav a{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 650;
    letter-spacing: 1px;
    transition: 0.5s;
}

.navbar-nav:hover{
    border-bottom: 2px coral;
}

.navbar-dark .navbar-brand{
    color: bisque;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 650;
}
.navbar-toggler{
    padding:1px 5px;
    font-size:18px;
    line-height: .3;
   
}


.carousel-item{
    height: 100vh;
    min-height: 250px;

}



.w-100{
    height: 100vh;
}


.section1{
    min-height: 80vh;
    background-image: url("resource/img/m7.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Orelega One', cursive;
}

.features{
    padding: 60px;
    text-transform: uppercase;
    font-size:100%;
    text-align: center;
   color:black;

}

.card-content{
    font-size: medium;
}
.section2{
   min-height: 110vh; 
   background-color:  black;
   color: yellow;
}

.people{
    padding-top:80px;
    text-align: center;
    font-size: 250%;
    color: rgb(243, 202, 149);
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

footer{
    height: 10vh;
    background-color:#888844;
}
.ftext{
    color: #fff;
    font-size: 140%;
    margin-bottom: 0;
    padding-bottom: 0;
  
}

.ftext2{
  padding: 20;
   font-size: 90%;
   margin-bottom: 0;
   padding-bottom: 0;
   color: #fff;
 
}